.text-center {
    text-align: center;
}
.text-justify{
    text-justify: auto;
}
img{
    border: 2px solid #222831;
    width: 300px;
    height: 300px;
    float: left;
}

nav ul{
    list-style: none;
}

h1{
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    background: inherit;
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px;
    width: 400px;
}

body{
    background: #ececec;
    font: 16px Helvetica;  
}

#main{
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

#main article{
    margin: 4px;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 7px;
    background: #A9F5A9;
    flex: 3 1 60%;
    order: 2;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    border-top: 22px solid black;
    padding: 2px;
}

#main nav{
    margin: 4px;
    padding: 5px;
    border: 1px solid  rgba(255, 0, 0, 0.3);
    border-radius: 7px;
    background: #0B610B;
    flex: 1 6 20%;
    order: 1;
    text-align: center;
}

#main .cuadro p {
    width: 300px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 12px;
    float: left;
    text-align: center;
}

h2{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #0B610B;
    min-height: 30px;
    height: 40px;
}

#main aside{
    margin: 4px;
    padding: 5px;
    border: 1px solid  rgba(255, 0, 0, 0.3);
    border-radius: 7px;
    background: #0B610B;
    flex: 1 6 20%;
    order: 3;
}

header, footer{
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 7px;
    background: #0B3B0B;
    color: white;
}
article {
    margin-top: 5px 5px 5px 5px;
}
p,li,h3,h2 {
    color:black;
}